.btn {
padding: 12px 28px;
border-radius: 30px;
text-decoration: none;
font-size: 1rem;
transition: all 0.3s ease;
}


.btn.primary {
background-color: #111;
color: #fff;
}


.btn.primary:hover {
background-color: #333;
}


.btn.outline {
border: 2px solid #111;
color: #111;
}


.btn.outline:hover {
background-color: #111;
color: #fff;
}