.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  font-size: 10px;
  color: rgb(37, 50, 46);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
}
.section_subtitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 45px;
  font-family: "Playfair Display", serif;
  letter-spacing: 5px;
  line-height: 1.8;
}
